<!DOCTYPE html>
<html>

    <head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" />

        <script src="{{ url_for('static', filename='js/jquery1.1.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="robots" content="nofollow" />
        <title>{% block title %}{% endblock %} Deflect Admin</title>
    {% endblock %}
    </head>

    <body>
    {% block body %}

    {% endblock %}
    </body>

</html>