{% extends "base/base_signup.html" %}

{% block title %} {{ _("Forgot your password") }} {% endblock %}

{% block content %}

        <div id="right_side">

            <h1>{{ _("Forgot your password?") }} </h1>

           <div class="signup_box">

               {% if user_error %}

                   {{ user_error }}

               {% elif success %}

                    {{ _("Your password was successfully saved!") }} <a href="/login">{{ _("Back to login") }}</a>.

               {% else %}

               <p>{{ _("Please enter your new password.") }}</p>

                <form method="POST" action="" class="form-horizontal" role="form">

                        {% if error %}
                            <div class="signup_backend_error">{{ error }}</div>
                        {% endif %}

                        {{ form.hidden_tag() if form.hidden_tag }}

                        {% for f in form if f.type != 'CSRFTokenField' %}

                            <div class="form-group form_group_{{ f.id }}">

                                <div class="col-sm-10 input_wrapper_div">
                                    {{ f(class_="form-control forgot_pass_field", placeholder=f.description.placeholder|safe) }}
                                </div>

                            </div>

                        {% if f.errors %}
                            <div class="signup_error_forgot_pass">
                                {% for e in f.errors %}
                                    {{ e }}
                                {% endfor %}
                            </div>
                            {% endif %}

                        {% endfor %}


                        <button class="btn signup_bt password_reset_bt" type="submit">{{ _("Change password") }}</button>

                </form>

                {% endif %}
            </div>
        </div>

{% endblock %}